/*=====================Fonts & Colors====================*/
html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-family: 'Vesper Libre', serif;
    font-weight: 700;
    color: white;
    font-size: 36px;
    line-height: 44px;
    text-align: center;

}

h2 {
    font-family: 'Futura', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;

}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 14px;
    color: #6E6E73;
}

p {
    color: white;
    font-family: 'Vesper Libre', serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;

}

li {
    font-family: Futura-Medium;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;

}

a, a:visited {
    color: #FFFFFF
}

a:link {
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h3, li {
    margin-bottom: 16px;
}

p {
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 0;
}

li {
    margin-right: 24px;
}

/*====================FlexBox page-1 ====================*/
.page-1 {
    background-color: #000000;
    height: 100%;
}

.page-1-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 96px;
    margin-right: 96px;
}

.page-1-item {
    flex-wrap: nowrap;
    width: 33%;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 220px;
}

.face {
    background-image: url('../image/portrait_compressed.png');
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 90%;
    flex: 1 0 400px;
    align-self: flex-end;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 220px;
}

/*====================FlexBox page-2 ===================*/
.page-2 {
    background-color: #212124;
    min-height: 100%;
}

.page-2-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 96px;
    margin-right: 96px;
}

.top {
    display: flex;
    flex-direction: row;
}

.intro {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inlineList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.left {
    display: flex;
    width: 66.66666%;
    margin-right: 48px;
    margin-top: 96px;

}

.right {
    display: flex;
    width: 33.333333%;
    margin-left: 48px;
    margin-top: 96px;
    margin-right: 48px;
}

/*=====================Hover======================*/
.hvr-sweep-to-top {
    display: flex;
    align-items: center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #6748FF;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
    color: white;
}

.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/*===================Media Queries==================*/
@media (max-width: 960px) {
    .page-1-container, .page-2-container {
        flex-direction: column;
        align-items: center;
        margin-left: 16px;
        margin-right: 16px;
    }

    /*================
    First Container
    ================*/
    .name {
        order: 1;
        flex: 1 1 auto;
    }

    .face {
        order: 3;
        align-self: auto;
        flex: 1 1 auto;
        width: 100%;
    }

    .title {
        width: auto;
        order: 2;
        flex: 1 1 auto;
    }

    /*====================
    Second Container
    =============*/
    .page-2 {
        height: auto;
        width: 100%;
        display: flex;
    }

    .top {
        display: flex;
        flex-direction: column;
    }

    .left, .right {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-left: 0;
    }

    .left {
        margin-top: 0;
        margin-bottom: 48px;
    }

    .right {
        margin-top: 0;
        margin-bottom: 48px;
    }

    .bottom {
        margin-top: 0;
        width: 100%;
    }

    .intro {
        margin-bottom: 48px;
        margin-top: 48px;
    }

    .Ican {
        margin-top: 20px;
    }

    p {
        font-size: 18px;
        line-height: 28px;
    }

    .inlineList {
        display: flex;
        flex-direction: column;
    }

    .hvr-sweep-to-top {
    }
}
