version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    # one PR for all updates
    groups:
      npm-dependencies:
        patterns:
          - "*"
